/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 50px;
}
footer {
  padding: 10px 0;
    alignment: center;
}

li_ph{
    list-style: none;
    font-size:30px;
}

table{
    width: 70%;

}

td{
    padding:20px;
}
