{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Alkaline Earth Metals{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/Alkali-earth/Strontium2k.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">Alkaline Earth Metals</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">Group 2</a></li>
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
                  <li><a href="#sec3">Applications</a></li>
                  <li><a href="#sec4">Trivia</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <div class="row">
                    <h2 id="sec0">Group 2</h2>
                    <p>The alkaline earth metals are a group of chemical elements in the periodic table with very similar properties. They are all shiny, silvery-white, somewhat reactive metals at standard temperature and pressure and readily lose their two outermost electrons to form cations with charge 2+ and an oxidation state, or oxidation number of +2. In the modern IUPAC nomenclature, the alkaline earth metals comprise the group 2 elements.  The alkaline earth metals are beryllium (Be), magnesium (Mg), calcium (Ca), strontium (Sr), barium (Ba), and radium (Ra). This group lies in the s-block of the periodic table as all alkaline earth metals have their outermost electron in an s-orbital.</p>
                    <div class="col-md-12">
                        <img src="/static/images/Alkali-earth/group2table.png" class="img-responsive" alt="Group 1 metals" width="100%">
                    </div>
                </div>
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>The alkaline earth metals are all silver-colored and soft, and have relatively low densities,
                            melting points, and boiling points. In chemical terms, all of the alkaline metals react with
                            the halogens to form the alkaline earth metal halides, all of which being ionic crystalline
                            compounds (except for beryllium chloride, which is covalent). All the alkaline earth metals
                            except beryllium also react with water to form strongly alkaline hydroxides and, thus, should
                            be handled with great care. The heavier alkaline earth metals react more vigorously than the
                            lighter ones. </p>
                        <p>The alkaline metals have the second-lowest first ionization energies in their
                            respective periods of the periodic table because of their somewhat low effective nuclear
                            charges and the ability to attain a full outer shell configuration by losing just two
                            electrons. The second ionization energy of all of the alkaline metals is also somewhat low.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/Alkali-earth/MagnesiumBurning.jpg" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                    
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class="row">
              		<div class="col-md-4"><img src="/static/images/Alkali-earth/Beryllium.jpg" class="img-responsive"> <p>(Be) Beryllium</p></div>
                    <div class="col-md-4"><img src="/static/images/Alkali-earth/Magnesium.jpg" class="img-responsive"><p>(Mg) Magnesium</p></div>
                  	<div class="col-md-4"><img src="/static/images/Alkali-earth/Calcium.jpg" class="img-responsive"><p>(Ca) Calcium</p></div>
                    <div class="col-md-4"><img src="/static/images/Alkali-earth/Strontium800.jpg" class="img-responsive"><p>(Sr) Strontium</p></div>
                    <div class="col-md-4"><img src="/static/images/Alkali-earth/Barium.jpg" class="img-responsive"><p>(Ba) Barium</p></div>
                    <div class="col-md-4"><img src="/static/images/Alkali-earth/Radium.jpg" class="img-responsive"><p>(Ra) Radium</p></div>
                  	
              	</div>

              
              	<hr>
              
              	<h2 id="sec3">Applications</h2>
      			<p>Beryllium is used mostly for military applications, but there are other uses of beryllium, as well. In electronics, beryllium is used as a p-type dopant in some semiconductors, and beryllium oxide is used as a high-strength electrical insulator and heat conductor. Due to its light weight and other properties, beryllium is also used in mechanics when stiffness, light weight, and dimensional stability are required at wide temperature ranges.</p>

<p>Magnesium has many different uses. One of its most common uses was in industry, where it has many structural advantages over other materials such as aluminium, although this usage has fallen out of favor recently due to magnesium's flammability. Magnesium is also often alloyed with aluminium or zinc to form materials with more desirable properties than any pure metal. Magnesium has many other uses in industrial applications, such as having a role in the production of iron and steel, and the production of titanium.</p>

<p>Calcium also has many uses. One of its uses is as a reducing agent in the separation of other metals from ore, such as uranium. It is also used in the production of the alloys of many metals, such as aluminium and copper alloys, and is also used to deoxidize alloys as well. Calcium also has a role in the making of cheese, mortars, and cement.</p>

<p>Strontium and barium do not have as many applications as the lighter alkaline earth metals, but still have uses. Strontium carbonate is often used in the manufacturing of red fireworks, and pure strontium is used in the study of neurotransmitter release in neurons. Barium has some use in vacuum tubes to remove gases, and barium sulfate has many uses in the petroleum industry, as well as other industries.</p>

<p>Due to its radioactivity, radium no longer has many applications, but it used to have many. Radium used to be used often in luminous paints, although this use was stopped after workers got sick. As people used to think that radioactivity was a good thing, radium used to be added to drinking water, toothpaste, and many other products, although they are also not used anymore due to their health effects. Radium is no longer even used for its radioactive properties, as there are more powerful and safer emitters than radium.</p>
              
              	<h2 id="sec4">Trivia</h2>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Beryl, a mineral that contains beryllium, has been known since the time of the Ptolemaic dynasty in Egypt.</h3>
                  </div>
                  <div class="panel-body">
                      <p>Although it was originally thought that beryl was an aluminium silicate, beryl was later found to contain a then-unknown element when, in 1797, Louis-Nicolas Vauquelin dissolved aluminium hydroxide from beryl in an alkali. In 1828, Friedrich Wöhler and Antoine Bussy independently isolated this new element, beryllium, by the same method, which involved a reaction of beryllium chloride with metallic potassium; this reaction was not able to produce large ingots of beryllium. It was not until 1898, when Paul Lebeau performed an electrolysis of a mixture of beryllium fluoride and sodium fluoride, that large pure samples of beryllium were produced.</p>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Calcium as a material has been known since at least the first century.</h3>
                  </div>
                  <div class="panel-body">
                     <p>The ancient Romans were known to have used calcium oxide by preparing it from lime. Calcium sulfate has been known to be able to set broken bones since the tenth century. Calcium itself, however, was not isolated until 1808, when Humphry Davy, in England, used electrolysis on a mixture of lime and mercuric oxide, after hearing that Jöns Jakob Berzelius had prepared a calcium amalgam from the electrolysis of lime in mercury.</p>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Magnesium and calcium are ubiquitous and essential to all known living organisms.</h3>
                  </div>
                  <div class="panel-body">
                    <p>They are involved in more than one role, with, for example, magnesium or calcium ion pumps playing a role in some cellular processes, magnesium functioning as the active center in some enzymes, and calcium salts taking a structural role, most notably in bones.</p>
                  </div>
                </div>
              	<hr>
              	<div class="main">
                  <div data-pos="1" data-nb="1.0079" class="type-1 cat-2">H<span>Hydrogen</span></div>
                </div>
              	
      		</div> 
  	</div>
</div>
{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}