{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Halogens{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/Halogens/iodine4x1k.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">Halogens</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">Group 17</a></li>
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
                  <li><a href="#sec3">Applications</a></li>
                  <li><a href="#sec4">Trivia</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <div class="row">
                    <h2 id="sec0">Group 17</h2>
                    <p>The halogens or halogen elements are a group in the periodic table consisting of
                        five chemically related elements: fluorine (F), chlorine (Cl), bromine (Br), iodine (I), and
                        astatine (At). The artificially created element 117 (ununseptium) may also be a halogen. In the
                        modern IUPAC nomenclature, this group is known as group 17.</p>
                    <div class="col-md-12">
                        <img src="/static/images/Alkali-earth/group2table.png" class="img-responsive" alt="Group 1 metals" width="100%">
                    </div>
                </div>
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>The halogens show trends in chemical bond energy moving from top to bottom of the periodic
                            table column with fluorine deviating slightly. (It follows trend in having the highest bond
                            energy in compounds with other atoms, but it has very weak bonds within the diatomic F2
                            molecule.) This means, as you go down the periodic table, the reactivity of the element will
                            decrease because of the increasing size of the atoms.</p>
                        <p>Halogens are highly reactive, and as such can be harmful or lethal to biological organisms in
                            sufficient quantities. This high reactivity is due to the high electronegativity of the atoms
                            due to their high effective nuclear charge. Because the halogens have seven valence electrons
                            in their outermost energy level, they can gain an electron by reacting with atoms of other
                            elements to satisfy the octet rule. Fluorine is one of the most reactive elements, attacking
                            otherwise-inert materials such as glass, and forming compounds with the usually inert noble
                            gases. It is a corrosive and highly toxic gas. The reactivity of fluorine is such that, if
                            used or stored in laboratory glassware, it can react with glass in the presence of small
                            amounts of water to form silicon tetrafluoride (SiF4). Thus, fluorine must be handled with
                            substances such as Teflon (which is itself an organofluorine compound), extremely dry glass,
                            or metals such as copper or steel, which form a protective layer of fluoride on their surface.</p>
                        <p>The high reactivity of fluorine means that, once it does react with something, it bonds with
                            it so strongly that the resulting molecule is very inert and non-reactive to anything else.
                            For example, Teflon is fluorine bonded with carbon.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/Alkali-earth/MagnesiumBurning.jpg" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                    
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class="row">
              		<div class="col-md-4"><img src="/static/images/Halogens/florine.jpg" class="img-responsive"> <p>(F) Florine</p></div>
                    <div class="col-md-4"><img src="/static/images/Halogens/chlorine.jpg" class="img-responsive"><p>(Cl) Chlorine</p></div>
                  	<div class="col-md-4"><img src="/static/images/Halogens/bromine.jpg" class="img-responsive"><p>(Br) Bromine</p></div>
                    <div class="col-md-4"><img src="/static/images/Halogens/iodine.jpg" class="img-responsive"><p>(I) Iodine</p></div>
                    <div class="col-md-4"><img src="/static/images/Halogens/astatine.jpg" class="img-responsive"><p>(At) Astatine</p></div>
                    <div class="col-md-4"><img src="/static/images/Halogens/ununseptium.png" class="img-responsive"><p>(Unn) Ununseptium</p></div>
                  	
              	</div>

              
              	<hr>
              
              	<h2 id="sec3">Applications</h2>
      			<p>Both chlorine and bromine are used as disinfectants for drinking water, swimming pools, fresh wounds,
                    spas, dishes, and surfaces. They kill bacteria and other potentially harmful microorganisms through
                    a process known as sterilization. Their reactivity is also put to use in bleaching. Sodium hypochlorite,
                    which is produced from chlorine, is the active ingredient of most fabric bleaches, and chlorine-derived
                    bleaches are used in the production of some paper products. Chlorine also reacts with sodium to create
                    sodium chloride, which is another name for table salt.</p>

                <p>Halogen lamps are a type of incandescent lamp using a tungsten filament in bulbs that are filled with small amounts
                    of iodine and bromine gas. This enables the production of lamps that are much smaller than non-halogen incandescent
                    lightbulbs at the same wattage. The gas reduces the thinning of the filament and blackening of the inside of the
                    bulb resulting in a bulb that has a much greater life. Halogen lamps burn at a higher temperature (2800 to 3400 Kelvin)
                    with a whiter color than incandescent bulbs. However, this requires bulbs to be manufactured from fused quartz rather
                    than silica glass to reduce breakage.</p>

<p>In drug discovery, the incorporation of halogen atoms into a lead drug candidate results in analogues that are usually
    more lipophilic and less water-soluble. As a consequence, halogen atoms are used to improve penetration through
    lipid membranes and tissues. It follows that there is a tendency for some halogenated drugs to accumulate in adipose tissue.</p>

<p>The chemical reactivity of halogen atoms depends on both their point of attachment to the lead and the nature of the halogen.
    Aromatic halogen groups are far less reactive than aliphatic halogen groups, which can exhibit considerable chemical reactivity.
    For aliphatic carbon-halogen bonds, the C-F bond is the strongest and usually less chemically reactive than aliphatic
    C-H bonds. The other aliphatic-halogen bonds are weaker, their reactivity increasing down the periodic table. They are
    usually more chemically reactive than aliphatic C-H bonds. As a consequence, the most common halogen substitutions are
    the less reactive aromatic fluorine and chlorine groups.</p>

              	<h2 id="sec4">Trivia</h2>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Beryl, a mineral that contains beryllium, has been known since the time of the Ptolemaic dynasty in Egypt.</h3>
                  </div>
                  <div class="panel-body">
                      <p>Although it was originally thought that beryl was an aluminium silicate, beryl was later found to contain a then-unknown element when, in 1797, Louis-Nicolas Vauquelin dissolved aluminium hydroxide from beryl in an alkali. In 1828, Friedrich Wöhler and Antoine Bussy independently isolated this new element, beryllium, by the same method, which involved a reaction of beryllium chloride with metallic potassium; this reaction was not able to produce large ingots of beryllium. It was not until 1898, when Paul Lebeau performed an electrolysis of a mixture of beryllium fluoride and sodium fluoride, that large pure samples of beryllium were produced.</p>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Calcium as a material has been known since at least the first century.</h3>
                  </div>
                  <div class="panel-body">
                     <p>The ancient Romans were known to have used calcium oxide by preparing it from lime. Calcium sulfate has been known to be able to set broken bones since the tenth century. Calcium itself, however, was not isolated until 1808, when Humphry Davy, in England, used electrolysis on a mixture of lime and mercuric oxide, after hearing that Jöns Jakob Berzelius had prepared a calcium amalgam from the electrolysis of lime in mercury.</p>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Magnesium and calcium are ubiquitous and essential to all known living organisms.</h3>
                  </div>
                  <div class="panel-body">
                    <p>They are involved in more than one role, with, for example, magnesium or calcium ion pumps playing a role in some cellular processes, magnesium functioning as the active center in some enzymes, and calcium salts taking a structural role, most notably in bones.</p>
                  </div>
                </div>
              	<hr>
              	
              	
      		</div> 
  	</div>
</div>
{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}