{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Home{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
    <div class="bg" style="background: url('/static/images/CsCrystals2k.jpg') no-repeat center center;"></div>
    <div class="jumbotron">
  <h1 style="text-align:center">Home</h1></div>
        
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
      		</div>  
      		<div class="col-md-9">
                <div class="row">
                    <a ><img src="http://i.imgur.com/yAYifaZ.png" width="750"></a>
                    <h3>About Elementalist's periodic table</h3>
                    <p>The periodic table of elements contains a wealth of information for each element such as element symbol, atomic number, atomic weight and description or how they make up the world around us in one form or another. Often, this ocean of information is a lot to be properly conveyed . Elementalists’ periodic table seeks to present this information in a well-organized format that would encourage facilitating periodic table use in the educational setting. We seek to include interactive pages for each chemical that will include modern media such as videos, interactive electron diagrams, and up to date images of the chemicals and their interactions. Other features for chemistry nerds includes quizzes, pre-populated flashcards and trivia</p>
                </div>
            </div>    
    </div>
</div>
{% endblock %}